<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>韵达联合仓</title>
	<link rel="stylesheet" href="../css/index.css">
	<script type="text/javascript" src="../js/jquery-3.0.0.min.js"></script>
	<script type="text/javascript" src="../js/index.js"></script>
</head>
<body>
	<div class="divFrame">
		<div class="left">
			<div class="logo"></div>
			<div class="menu">
				<ul>
					<li>
						<div class="menuBar">
							<span class="iconHome"></span>
							<div>
								<a href=""><p class="menuItem">首页</p></a>
								<p class="menuItemEng">Home</p>
							</div>
						</div>
					</li>
					<li>
						<div class="menuBar">
							<span class="iconIntroduction"></span>
							<div>
								<a href="#"><p class="menuItem">产品介绍</p></a>
								<p class="menuItemEng">Lianhecang Introduction</p>
							</div>
						</div>
					</li>
					<li>
						<div class="menuBar">
							<span class="iconRent"></span>
							<div>
								<a href=""><p class="menuItem">我要租仓</p></a>
								<p class="menuItemEng">Rent a Warehouse</p>
							</div>
						</div>
					</li>
					<li>
						<div class="menuBar">
							<span class="iconJoin"></span>
							<div>
								<a href=""><p class="menuItem">我要加盟</p></a>
								<p class="menuItemEng">Join Lianhecang</p>
							</div>
						</div>
					</li>
					<li>
						<div class="menuBar">
							<span class="iconContact"></span>
							<div>
								<a href="#"><p class="menuItem">联系我们</p></a>
								<p class="menuItemEng">Contact Us</p>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="leftBottom">
				<button class="login"><span></span>登录</button>
				<button class="register"><span></span>注册</button>
				<hr>
				<p>Copyright YUNDA Ltd,All Rights Reserved</p>
				<p>软件开发与维护：上海韵达速递(物流)有限公司</p>
				<span class="smartLogo"></span>
				<p style="margin-left: 16px;">沪公网安备31011802001022号|沪ICP备05013236号</p>
			</div>
		</div>
		<div class="right">
			<div class="main">
				<div class="subMenu">
					<p class="subTitle">首页</p><hr>
					<ul>
						<li>
							<p>item1</p><hr>
						</li>
						<li>
							<p>item2</p><hr>
						</li>
						<li>
							<p>item3</p><hr>
						</li>
						<li>
							<p>item4</p>
						</li>
					</ul>
				</div>
				<div class="subMenu">
					<p class="subTitle">产品介绍</p><hr>
					<ul>
						<li>
							<p>仓配一体化服务</p><hr>
						</li>
						<li>
							<p>智能分仓发货服务</p><hr>
						</li>
						<li>
							<p>增值服务</p><hr>
						</li>
						<li>
							<p>项目服务</p>
						</li>
					</ul>
				</div>
				<div class="subMenu">
					<p class="subTitle">我要租仓</p><hr>
					<ul>
						<li>
							<p>item1</p><hr>
						</li>
						<li>
							<p>item2</p><hr>
						</li>
						<li>
							<p>item3</p><hr>
						</li>
						<li>
							<p>item4</p>
						</li>
					</ul>
				</div>
				<div class="subMenu">
					<p class="subTitle">我要加盟</p><hr>
					<ul>
						<li>
							<p>item1</p><hr>
						</li>
						<li>
							<p>item2</p><hr>
						</li>
						<li>
							<p>item3</p><hr>
						</li>
						<li>
							<p>item4</p>
						</li>
					</ul>
				</div>
				<div class="subMenu">
					<p class="subTitle">联系我们</p><hr>
					<ul>
						<li>
							<p>item1</p><hr>
						</li>
						<li>
							<p>item2</p><hr>
						</li>
						<li>
							<p>item3</p><hr>
						</li>
						<li>
							<p>item4</p>
						</li>
					</ul>
				</div>
				<div class="imageShow">
					<div class="bottombar">
						<div class="iconSearch">
							<span></span>
							<a href="#">仓&nbsp;点&nbsp;查&nbsp;询</a>
						</div>
						<div class="warehouseSearch"></div>
					</div>
				</div>
				<div class="midBottom">
					<div class="rentAndJoin">
						<div class="rent">
							<a href="#"><b>|</b>&nbsp;我&nbsp;要&nbsp;租&nbsp;仓</a>
						</div>
						<div class="join">
							<a href="#"><b>|</b>&nbsp;我&nbsp;要&nbsp;加&nbsp;盟</a>
						</div>
					</div>
					<div class="billSearch">
						<div class="tip">
							<p>请输入运单号查询</p>
							<p>最多可同时查询4条运单号，每行一个</p>
						</div>
						<div class="billSearchInputBox">
							<input type="text" />
							<input type="text" />
							<input type="text" />
							<input type="text" />
						</div>
						<div class="clearOrSearch">
							<a href="#">清&nbsp;除</a>&nbsp;|&nbsp;<a href="#">查&nbsp;询</a>
						</div>
					</div>
					<div class="qrCode"></div>
				</div>
				<div class="bot">
					<div class="botleft"></div>
					<div class="botright"></div>
				</div>
			</div>
			
			<div class="listNews">
				<div class="Carousel">
					<ul class="imgs">
						<li><img src="../img/ps_4.png" alt=""></li>
						<li><img src="../img/img2.png" alt=""></li>
						<li><img src="../img/img3.png" alt=""></li>
						<li><img src="../img/img4.png" alt=""></li>
						<li><img src="../img/img5.png" alt=""></li>
					</ul>
					<ul class="num">
						<li class="yellow"></li>
						<li class="white"></li>
						<li class="white"></li>
						<li class="white"></li>
						<li class="white"></li>
					</ul>
				</div>
				<div class="news">
					<div class="newsContent">
						<span class="new">NEW</span>
						<span class="newTitle">联合仓《仓储学堂》开课啦！</span>
						<p>2016.06-26</p>
					</div>
					<div class="newsContent">
						<span class="new">NEW</span>
						<span class="newTitle">韵达速递青岛分拨中心至慰问敬老院老人</span>
						<p>2016.06-20</p>
					</div>
					<div class="newsContent">
						<span class="newTitle">韵达速递河北公司发起“守望马吉米”募捐活动</span>
						<p>2016.06-12</p>
					</div>
					<div class="newsContent">
						<span class="newTitle">快乐工作，快乐生活 韵达速递“2016年夏季运动会”闭幕</span>
						<p>2016.06-11</p>
					</div>
					<div class="newsContent">
						<span class="newTitle">韵达速递参加全球智慧物流峰会共话智慧物流</span>
						<p>2016.06-09</p>
					</div>
					<div class="newsContent">
						<span class="newTitle">联合仓《仓储学堂》开课啦！</span>
						<p>2016.06-01</p>
					</div>
					<div class="newsContent">
						<span class="newTitle">韵达速递河北公司发起“守望马吉米”募捐活动</span>
						<p>2016.06-12</p>
					</div>
					<div class="newsContent">
						<span class="newTitle">快乐工作，快乐生活 韵达速递“2016年夏季运动会”闭幕</span>
						<p>2016.06-11</p>
					</div>
					<div class="newsContent">
						<span class="newTitle">韵达速递参加全球智慧物流峰会共话智慧物流</span>
						<p>2016.06-09</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>